
html{
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1 rem */
  box-sizing:border-box;
}
body{
  margin: 0;
  height: 100vh; /* full length*/
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://previews.123rf.com/images/trongnguyen/trongnguyen1906/trongnguyen190600986/125122433-blurry-background-hair-salon-products-at-beauty-store-in-america.jpg");
}
#root{
  height:100%;
}
/* Layout */
.grid-container{
  display: grid;
  grid-template-areas: 
   'header'
   'main'
   'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header{
  grid-area: header;
  background-color: purple;
}
main{
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color: purple;
  color: white;
}
/* Common */
h1 {
font-size: 1.8rem;
padding: 1rem 0;
}
h2 {
font-size: 1.6rem;
padding: 1rem 0;
}

a{
  text-decoration: none;
}
a:hover{
  color:pink;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}
input,
select,
textarea,
button{
  padding: 0;
  border-radius: 0.5;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.3 rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
button{
  background-color: purple;
  cursor: pointer;
  color: white;
}
input:hover,
select:hover,
textarea:hover,
button:hover{
  border: 0.1 rem black;
}
button.primary {
  background-color: purple;
}
button.block{
  width: 100%;
  height: 100%;
}
/*header */
header a{
  color: white;
  padding: 1rem;
}
a.brand{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color:goldenrod;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top{
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
img{
    border-radius: 0.5rem;
}
img.meduim{
    max-width: 29rem;
    width:100%
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.large{
  width: 100%;
  /* makes web page responsive */
}

.card{
    border: 0.1rem purple;
    background-color:pink;
    border-radius: 0.5rem;
    margin: 1rem;
}


.card-img {
  position: relative;
  width: 100%;
  height: auto;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child{
  color: black;
}
.success{
  color:#20a020;

}
.error{
  color:brown;
  
}
.alert{
  padding: 1rem;
  border:0.1rem solid transparent;
  border: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: white;
}
.alert-danger {
  color: red;
  background-color: oldlace;
}